{{ template "chart.header" . }}
{{ template "chart.deprecationWarning" . }}

{{ template "chart.badgesSection" . }}

{{ template "chart.description" . }}

{{ template "chart.homepageLine" . }}

{{ template "chart.maintainersSection" . }}

{{ template "chart.requirementsSection" . }}

## Upgrading

<details>

<summary>To 2.0.0</summary>

See the [3.0.0 release notes](https://woodpecker-ci.org/migrations#300).

</details>

<details>

<details>

<summary>To 1.0.0</summary>

- If you have injected/defined the env var `WOODPECKER_AGENT_SECRET` manually, you need to decide whether you want to continue doing so (if yes, set `mapAgentSecret: false`) or if you want to make use of the new `mapAgentSecret: true` option (new default). This option maps an existing k8s secret in the same namespace into the statefulset.

</details>

<details>

{{ template "chart.valuesSection" . }}
